In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import statsmodels.api as sm  
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA
import seaborn as sns
from statsmodels.tsa.seasonal import STL

In [2]:
data = pd.read_csv('Time_series/sp500_stocks.csv')
data.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016724,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,43.741024,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,44.361340,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,44.393173,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,44.705978,70.501671,70.501671,69.648827,69.974915,4073337.0